@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(223, 218, 212);
  color: rgb(215, 19, 19);
  text-align: center;
  margin-top: 100px;
}

#store{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2%;
  row-gap: 10px;
  margin-top: 20px;
}